.btn{
    background-color: #0a0e30;
    border-radius: 2rem;
    color: white;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 12rem;
}
img{
    height: 3.5rem; 
    padding-top: 2rem;
    padding-right: 1rem;
    width: 2.5rem; 
}