<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="button" routerLink="/home" routerLinkActive="text-dark" ariaCurrentWhenActive="page">Home</a>
            </li>
            <li class="nav-item">
                <a class="button" routerLink="/portfolio" routerLinkActive="text_dark" ariaCurrentWhenActive="page">Portfolio</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text_dark" ariaCurrentWhenActive="page">Resume</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text_dark" ariaCurrentWhenActive="page">Contact</a>
            </li>
        </ul>
    </div>
</nav>
