<div class="container">
    <div class="mb-2">
        <p>
            <button 
            type="button"
            class="btn mb-2 me-2"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample"
            style="background-color:#b9fffa;
            border-color: #00776f;
            border-width: 0.15rem;
            border-radius: 2rem;
            font-size: 1.5rem;
            width: 6.25rem;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)"
            >Filters</button>
            <button 
            type="button"
            class="btn btn-outline-secondary mb-2"
            (click)="ResetFilters()"
            [hidden]="!filtering"
            style="background-color:#00776f;
            border-color:  #b9fffa;
            border-width: 0.15rem;
            border-radius: 2rem;
            color: white;
            font-size: 1.5rem;
            width: 6.25rem;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)">Reset</button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="border shadow">
                <form>
                    <div class="row mx-0">
                        <div class="col">
                            <b>Languages:</b>
                            <div class="form-group">
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "typescript"
                                    (change)="Filter()"
                                    name="Typescript">
                                    <label class="form-check-label">TypeScript</label>
                                </div>
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "python"
                                    (change)="Filter()"
                                    name="Python">
                                    <label class="form-check-label">Python</label>
                                </div>
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "css"
                                    (change)="Filter()"
                                    name="Css">
                                    <label class="form-check-label">CSS</label>
                                </div>
                            </div>
                        </div>
                        <div class="col" >
                            <b>Frameworks:</b>
                            <div class="form-group">
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "angular"
                                    (change)="Filter()"
                                    name="Angular">
                                    <label class="form-check-label">Angular</label>
                                </div>
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "bootstrap"
                                    (change)="Filter()"
                                    name="Bootstrap">
                                    <label class="form-check-label">Bootstrap</label>
                                </div>
                            </div>
                        </div>
                        <div class="col" >
                            <b>Databases:</b>
                            <div class="form-group">
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "mongodb"
                                    (change)="Filter()"
                                    name="Mongodb">
                                    <label class="form-check-label">MongoDB</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "firebase"
                                    (change)="Filter()"
                                    name="Firebase">
                                    <label class="form-check-label">Firebase</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4">
            <app-project-card [project] = "project"></app-project-card>
        </div>
    </div>
</div>