.container{
    padding-top: 2.5rem;
}
.border{
    background-color: #6153CC;
    border-color: #9081ff !important;
    border-radius: 0.75rem;
    border-width: 0.35rem !important;
    padding: 1rem;
    width: 45rem;
}
