.container{
    padding-top: 2.25rem;
}
.border{
    background-color: #cefffc;
    border-color: #00776f !important;
    border-radius: 0.75rem;
    border-width: 0.15rem !important;
    color: black;
    padding: 1rem;
    width: 43.75rem;
}
