b{
    padding: 1rem;
}
.container{
    padding-top: 0.75rem;
}
.border{
    background-color: #cefffc;
    border-color: #00776f !important;
    border-radius: 0.75rem;
    border-width: 0.2rem !important;
    color: black;
    padding: 1rem;
    width: 43.75rem;
}
.form-check-input{
    margin-top: 2rem;
    margin-left: -1.2rem;
    padding: 0.75rem;
}
.form-check-label{
    padding-top: 1.6rem;
}
