<div class="container text-center">
    <button class="btn mb-5" 
    (click)="DownloadPDF()"
    style="background-color:#fffeb9;
            border-color: #777300;
            border-width: 0.15rem;
            border-radius: 2rem;
            color: black;
            font-size: 1.5rem;
            width: 20rem;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)">Download Resume PDF</button>
    <div class="pb-2">
        <div ngbAccordion #accordion="ngbAccordion" class="shadow">
            <div ngbAccordionItem="first">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton style="background-color:#fff75e; height: 5rem;">
                        <span><b>Work Experience</b></span>
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody style="background-color:rgb(232, 244, 255);">
                        <ng-template>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                            haven't heard of them accusamus labore sustainable VHS.
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem="second">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton style="background-color:#fff990; height: 5rem;">
                        <span><b>Skills</b></span>
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody style="background-color:rgb(232, 244, 255);">
                        <ng-template>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                            haven't heard of them accusamus labore sustainable VHS.
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem="third">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton style="background-color:#fffab3; height: 5rem;">
                        <span><b>Certificates</b></span>
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody style="background-color:rgb(232, 244, 255);">
                        <ng-template>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                            haven't heard of them accusamus labore sustainable VHS.
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem="fourth">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton style="background-color:#ffffd6; height: 5rem;">
                        <span><b>Education</b></span>
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody style="background-color:rgb(232, 244, 255);">
                        <ng-template>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                            haven't heard of them accusamus labore sustainable VHS.
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.toggle('first')" 
        [hidden]="true"
        >Toggle first</button>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.toggle('second')" 
        [hidden]="true"
        >Toggle second</button>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.toggle('third')" 
        [hidden]="true">Toggle second</button>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.toggle('fourth')" 
        [hidden]="true">Toggle second</button>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.expandAll()"
        style="background-color:#fffeb9;
            border-color: #777300;
            border-width: 0.15rem;
            border-radius: 2rem;
            color: black;
            font-size: 1rem;
            width: 7rem;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)">Expand all</button>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.collapseAll()"
        style="background-color:#fffeb9;
            border-color: #777300;
            border-width: 0.15rem;
            border-radius: 2rem;
            color: black;
            font-size: 1rem;
            width: 7rem;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)">Collapse all</button>
    </div>
    
</div>