<div class="container text-center">
    <button class="btn mb-5" 
    (click)="DownloadPDF()"
    style="background-color:rgb(232, 244, 255);
            border-color: #243189;
            border-width: 0.2rem;
            border-radius: 2rem;
            color: black;
            font-size: 1.5rem;
            width: 20rem;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)">Download Resume PDF</button>
    <div class="pb-2">
        <div ngbAccordion #accordion="ngbAccordion" class="shadow">
            <div ngbAccordionItem="first">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton style="background-color:rgb(91, 176, 255); height: 5rem;">
                        <span><b>Work Experience</b></span>
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody style="background-color:rgb(232, 244, 255);">
                        <ng-template>
                            <h2 style="padding: 1rem;">Front-End Developer</h2>
                            <h3>Calsoft Technologies</h3>
                            <h4 style="text-align: left; padding-bottom: 1rem; padding-left: 1rem; padding-top: 0rem;">
                                Project-1:</h4>
                            <ul style="text-align: left;">
                                <li>Developed and maintained the Front-End part of a website using AngularJS 
                                    which also had a mobile application developed by my team using Kotlin.</li>
                                <li>Helped in the development of the mobile app after learning Kotlin as well.</li>
                            </ul>
                            <h4 style="text-align: left; padding-left: 1rem; padding-bottom: 1rem;">Project-2:</h4>
                            <ul style="text-align: left;">
                                <li>Developed and tested APIs with my team for a client's website using Mulesoft 
                                    and it's tools.</li>
                                <li>Developed the Front-End part of the website using AngularJS for the client.</li>
                                <li>Learnt Mule Expression Language to develop the API's and also learnt how to use tools 
                                    such as Anypoint Studio Platform and Mulesoft Cloud to test and deploy the API's.</li>
                            </ul>
                            <h4 style="text-align: left; padding-left: 1rem; padding-bottom: 1rem;">Project-3:</h4>
                            <ul style="text-align: left;">
                                <li>Developed and maintained a website with my team for in-house purposes using JavaScript 
                                    and it's frameworks, mostly AngularJS.</li>
                                <li>The implementation of the website streamlined the process of hiring for the 
                                    Talent Acquisition team.</li>
                                <li>Given role was to build the Front-end part of the website using AngularJS.</li>
                                <li>Rolled updates for the Front-End part later on, which made major overhauls to 
                                    the website as per client's request.</li>
                                <li>And then later on switched to using ReactJS as per company's requirements while 
                                    working on the same website.</li>
                            </ul>
                            <h2 style="padding-top: 1rem;">Discord Bot Developer</h2>
                            <h5>(Freelancing)</h5>
                            <h4 style="text-align: left; padding-top: 0rem; padding-left: 1rem; padding-bottom: 1rem;">
                                Point Of View</h4>
                            <ul style="text-align: left;">
                                <li>Developed a custom Discord Bot using Python which handles tasks from server 
                                    moderation to playing music in voice channels.</li>
                                <li>Bot mainly uses modules such as Nextcord, PyMongo, PyNaCl, Threading, JSON, 
                                        Asyncio and Motor.</li>
                                <li>Developing a website using AngularJS for Front-End and Django for Back-End 
                                    to manage and configure this bot remotely, in real-time.</li>
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem="second">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton style="background-color:rgb(130, 195, 255); height: 5rem;">
                        <span><b>Personal Projects</b></span>
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody style="background-color:rgb(232, 244, 255);">
                        <ng-template>
                            <h2 style="padding-top: 1rem;">Personal Portfolio Wesbite</h2>
                            <h3 style="padding-bottom: 1.5rem; padding-top: 0.5rem;">Personal Project</h3>
                            <ul style="text-align: left;">
                                <li>Developed and maintaining a portfolio website to showcase my skills in 
                                    Website Development.</li>
                                <li>Primarily used Angular and NodeJS.</li>
                                <li>Website contains my portfolio (link provided up top).</li>
                            </ul>
                            <h2 style="padding-top: 1rem;">Attorney Appointment Scheduling System</h2>
                            <h3 style="padding-bottom: 1.5rem; padding-top: 0.5rem;">University Project</h3>
                            <ul style="text-align: left;">
                                <li>Led a team on a University project to develop a website using Django.</li>
                                <li>Learnt HTML, CSS and Python.</li>
                                <li>Also implemented the usage of Git & GitHub to increase our work efficiency.</li>
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem="third">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton style="background-color:rgb(168, 213, 255); height: 5rem;">
                        <span><b>Skills</b></span>
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody style="background-color:rgb(232, 244, 255);">
                        <ng-template>
                            <div class="row">
                                <div class="col">
                                    <h4 style="text-align: left; padding-left: 1rem;">Programming</h4>
                                    <ul style="text-align: left;">
                                        <li>JavaScript</li>
                                        <li>Java</li>
                                        <li>Python</li>
                                        <li>Mule</li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h4 style="text-align: left; padding-left: 1rem;">Frameworks</h4>
                                    <ul style="text-align: left;">
                                        <li>Angular</li>
                                        <li>ReactJS</li>
                                        <li>NodeJS</li>
                                        <li>Kotlin</li>
                                        <li>Django</li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h4 style="text-align: left; padding-left: 1rem;">Tools</h4>
                                    <ul style="text-align: left;">
                                        <li>Visual Studio Code</li>
                                        <li>Git</li>
                                        <li>Docker</li>
                                        <li>Anypoint Sudio Platform</li>
                                        <li>Mulesoft</li>
                                    </ul>
                                    </div>
                                <div>
                                    <h4 style="text-align: left; padding-left: 1rem;">Databases</h4>
                                    <ul style="text-align: left;">
                                        <li>MongoDb</li>
                                        <li>Firebase</li>
                                    </ul>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem="fourth">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton style="background-color:rgb(203, 231, 255); height: 5rem;">
                        <span><b>Certificates</b></span>
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody style="background-color:rgb(232, 244, 255);">
                        <ng-template>
                            <h2 style="padding-top: 1rem;">NSIC</h2>
                            <h4 style="padding-bottom: 1rem; padding-top: 0rem;">National Small Industries Corporation</h4>
                            <ul style="text-align: left;">
                                <li>Java Internship Course</li>
                                <li>Python Internship Course</li>
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem="fifth">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton style="background-color:rgb(232, 244, 255); height: 5rem;">
                        <span><b>Education</b></span>
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody style="background-color:rgb(232, 244, 255);">
                        <ng-template>
                            <h2 style="padding-top: 1rem;">NIIT University</h2>
                            <h4 style="padding-bottom: 0.5rem; padding-top: 0rem;">
                                Bachelors in Computer Science Engineering</h4>
                            <h5>From 2018 to 2022</h5>
                            <h2 style="padding-top: 1.5rem;">FIITJEE Junior College</h2>
                            <h4 style="padding-bottom: 0.5rem; padding-top: 0rem;">Board of Intermediate Education</h4>
                            <h5>From 2016 to 2018</h5>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.toggle('first')" 
        [hidden]="true"
        >Toggle first</button>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.toggle('second')" 
        [hidden]="true"
        >Toggle second</button>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.toggle('third')" 
        [hidden]="true">Toggle second</button>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.toggle('fourth')" 
        [hidden]="true">Toggle second</button>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.toggle('fifth')" 
        [hidden]="true">Toggle second</button>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.expandAll()"
        style="background-color:rgb(232, 244, 255);
            border-color: #243189;
            border-width: 0.2rem;
            border-radius: 2rem;
            color: black;
            font-size: 1.25rem;
            margin-top: 1.5rem;
            width: 8.5rem;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)">Expand all</button>
        <button class="btn btn-sm btn-outline-primary me-2" 
        (click)="accordion.collapseAll()"
        style="background-color:rgb(232, 244, 255);
            border-color: #243189;
            border-width: 0.2rem;
            border-radius: 2rem;
            color: black;
            font-size: 1.25rem;
            margin-top: 1.5rem;
            width: 8.5rem;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)">Collapse all</button>
    </div>
    
</div>