/* You can add global styles to this file, and also import other style files */
body { 
    background-color: #bcd8ff;
 }
.card{
    background-color: rgb(232, 244, 255);
    max-height: 60rem;
    min-height: 30rem;
}
.card-body{
    padding-bottom: 0rem;
}
.card-footer{
    height: 6.4rem;
}
.card-text{
    font-size: 1.5rem;
    padding-top: 2rem;
}
.card-title{
    font-size: 2.5rem;
}
.col-lg-4{
    padding: 3rem 0.75rem;
    width: 33rem;
}
.container {
    max-width: 100rem;
}
.jumbotron {
    background-color: #1a1b25;
    color: white;
    height: 20rem;
    padding: 5.5rem 1rem;
}
.navbar-expand-md{
    background-color:rgb(232, 244, 255);
    font-size: 1.5rem;
}
p{
    font-size: 1.5rem;
}
.row{
    padding: 0rem;
}
.tag{
    border-radius: 2rem;
    height: 2.5rem;
    font-size: 1.5rem;
    width: 9rem;
}