.accordion-item:first-child .accordion-button{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
body {
    background-color: #bcd8ff;
}
b{
    font-size: 1.75rem;
}
.card{
    background-color: rgb(232, 244, 255);
    border-color: #243189 !important;
    border-radius: 1rem;
    border-width: 0.15rem !important;
    max-height: 1000rem;
    min-height: 30rem;
    padding: 1.5rem;
}
.card-body{
    padding-bottom: 0rem;
}
.card-footer{
    min-height: 6.4rem;
    background-color: rgb(232, 244, 255);
}
.card-text{
    font-size: 1.5rem;
    padding-top: 2rem;
}
.card-title{
    font-size: 2.5rem;
}
.col-lg-4{
    padding: 2.5rem 0.75rem;
    width: 30rem;
}
.container {
    max-width: 90rem;
}
.form-check{
    font-size: 1.5rem;
}
.form-check-input{
    border-radius: 0.5rem !important;
}
.form-check-input:checked{
    background-color: #242852;
}
h2{
    font-size: 2.5rem;
}
h4{
    font-size: 1.75rem;
    padding-top: 1.5rem;
}
img{
    padding: 1.5rem;
}
.jumbotron {
    background-color: #0e1022;
    color: white;
    height: 20rem;
    padding: 5.5rem 1rem;
}
.list-group-item{
    background-color: rgb(232, 244, 255);
    border-color: #243189 !important;
    border-width: 0.2rem;
}
.list-group-item-action:hover{
    background-color: #bcd8ff;
}
.modal-content{
    margin-left: -15rem;
    width: 60rem;
}
.modal-header{
    padding: 1rem 1.5rem;
}
.navbar-expand-md{
    background-color:rgb(232, 244, 255);
    font-size: 1.75rem;
}
p{
    font-size: 1.5rem;
}
.picsum-img-wrapper{
    height: 20rem;
}
.row{
    padding: 0rem;
}
.tag{
    border-radius: 2rem;
    height: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
    width: 9rem;
}
