<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/myself.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>Versatile Junior Full Stack Developer with a solid foundation in JavaScript and its frameworks including 
                    React, Angular, and Node. Proficient in Kotlin with a track record of creating efficient, scalable, and 
                    maintainable code. Adaptable and solutions-focused, with a demonstrated history of contributing to 
                    collaborative environments and projects, and a commitment to continuous learning and professional 
                    growth.</p>
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featureProject.name}}</h4>
            </div>
        </div>
    </div>
</div>
